VITE_APPWRITE_URL="https://sgp.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a40e03a001ed7667095"
VITE_APPWRITE_DATABASE_ID="6a40e1510012333fde91"
VITE_APPWRITE_COLLECTION_ID="articles_"
VITE_APPWRITE_BUCKET_ID="6a40e59600361891c813"